<div class="row">
	<div class="col s12">
		<h1>Noticias de hoy</h1>
		<ul class="collection">	
		<% articles.forEach(article =>{%>
			<li class="collection-item">
				<%if (article.description.length>200) article.description=article.description.slice(0,200)+"..."%>
					<a onclick="apretaste.send({'command':'MARTI HISTORIA','data':{'historia':'<%=article.link%>'}})"><h6><b><%=article.title.toUpperCase()%></b></h6></a>
					<%if(article.description.length!=0){%>
						<p><%=article.description %></p>
					<%}%>
					<small>
					<%if(article.author!=""){%>
						<%=article.author+", "%>
						<br>
					<%}%>
					
					<%=article.pubDate%>
					<br>
					<%article.category.forEach(category =>{%>
					<div class= "chip small">
					<a class="grey-text text-darken-3" onclick="apretaste.send({'command':'MARTI BUSCAR','data':{'searchQuery':'<%=category%>', 'isCategory':true}})"><%=category%></a>
					</div>
					<%});%>
					</small>
			</li>
		<%});%>
		</ul>
		</div>
		<div class = "fixed-action-btn">
			<a href = "#searchModal" class = "btn-floating btn-large waves-effect waves-light green modal-trigger">
				<i class = "large material-icons">search</i>
			</a>
		</div>

		<div id = "searchModal" class = "modal bottom-sheet">
			<div class = "modal-content">
				<div class = "input-field">
					<textarea id = "searchQuery" class = "materialize-textarea"></textarea>
					<label for = "note">Buscar</label>
				</div>
			</div>
			<div class = "modal-footer">
				<a href = "#!" class = "modal-close waves-effect waves-light btn-flat">Cerrar</a>
				<a onclick = "sendSearch()" class = "modal-close waves-effect waves-green btn-flat">Buscar</a>
			</div>
	</div>
</div>