<div class="row">
	<div class="col s12">
		<h4><%=search%></h4>
	</div>
	<ul class="collection">	
		<% articles.forEach(article =>{%>
			<li class="collection-item">
				<%if (article.description.length>200) article.description=article.description.slice(0,200)+"..."%>
					<a onclick="apretaste.send({'command':'MARTI HISTORIA','data':{'historia':'<%=article.link%>'}})"><h6><b><%=article.title.toUpperCase()%></b></h6></a>
					<%if(article.description.length!=0){%>
						<p><%=article.description %></p>
					<%}%>
					<small>
						<%=article.pubDate%>
					</small>
			</li>
		<%});%>
	</ul>
</div>